<div class="message <%= message.user == current_user ? 'sent' : 'received' %>" id="<%= dom_id(message) %>">
  <div class="message-header">
    <strong><%= message.user.username %></strong>
    <span class="message-time"><%= message.created_at.strftime("%b %d, %I:%M %p") %></span>
  </div>
  <div class="message-content">
    <%= message.content %>
  </div>
</div>
