<div class="container">
  <div class="musicians-section">
    <div class="musician-cards">
      <% @musicians.each do |musician| %>
        <div class="musician-card card m-1 border-3 border-white p-2">
          <%= link_to musician_path(musician), class: "text-light text-decoration-none" do %>
            <p><%= musician.name %> </p>
            <p><%= musician.instrument %></p>
            <p> Styles: <%= musician.styles %></p>
            <p> City: <%= musician.location %></p>
            <% if musician.bands.pluck.count == 1 %>
              <p> In this band: <%= musician.bands.pluck(:name).join("") %></p>
            <% else %>
              <p>In these bands: <%= musician.bands.pluck(:name).join(", ") %></p>
            <% end %>
            <p><%= musician.bio %></p>
          </div>
        <% end %>
            <%= button_to "Message", create_or_show_direct_messages_path(recipient_id: musician.user_id), method: :post, class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>
