<% if @musician.photo.attached? %>
  <%= cl_image_tag(@musician.photo.key, class: "w-25") %>
<% else %>
  <%= image_tag "musician_placeholder.jpg", class: "w-25" %>
<% end %>
<h1><%= @musician.name %></h1>
<p>Role: <%= @musician.instrument %></p>
<p>Age: <%= @musician.age %></p>
<p>Styles: <%= @musician.styles %></p>
<p>Location: <%= @musician.location %></p>
<% if @musician.bands.count == 1 %>
  <p><%= @musician.name %> is in <%= @musician.bands.count %> band: </p>
<% else %>
  <p><%= @musician.name%> is in <%=@musician.bands.count %> bands: </p>
<% end %>
<% @musician.bands.each do |band| %>
  <ul>
    <li><%= band.name %></li>
  </ul>
<% end %>
