<%# MAINSTAGE homepage spotlight - shows both Musician and Band winners %>
<% musician_winner = MainstageWinner.recent.first %>
<% band_winner = BandMainstageWinner.recent.first %>
<% musician_contest = MainstageContest.current_contest %>
<% band_contest = BandMainstageContest.current_contest %>

<% has_musician_winner = musician_winner && musician_winner.created_at > 1.week.ago %>
<% has_band_winner = band_winner && band_winner.created_at > 1.week.ago %>

<div class="mainstage-spotlight">
  <%# Show winners if we have any %>
  <% if has_musician_winner || has_band_winner %>
    <div class="mainstage-header">
      <i class="fa-solid fa-trophy"></i>
      <span>MAINSTAGE WINNERS</span>
      <i class="fa-solid fa-trophy"></i>
    </div>

    <div class="winner-cards-row">
      <%# Musician Winner Card %>
      <% if has_musician_winner %>
        <div class="winner-card">
          <div class="winner-card-label">
            <i class="fa-solid fa-user musician"></i>
            <span class="musician">MUSICIAN</span>
          </div>

          <div class="winner-card-inner">
            <%# Winner avatar %>
            <div class="winner-avatar musician">
              <% if musician_winner.musician.avatar.attached? %>
                <%= cl_image_tag(musician_winner.musician.avatar.key) %>
              <% else %>
                <div class="initials"><%= musician_winner.musician.name[0].upcase %></div>
              <% end %>
            </div>

            <%# Winner info %>
            <div class="winner-info">
              <%= link_to musician_path(musician_winner.musician), class: "winner-name" do %>
                <%= musician_winner.musician.name %>
              <% end %>
              <div class="winner-week"><%= musician_winner.week_label %></div>
              <div class="winner-stats">
                <span class="engagement">
                  <i class="fa-solid fa-bolt"></i> <%= musician_winner.engagement_score %>
                </span>
                <span class="votes">
                  <i class="fa-solid fa-hand-pointer"></i> <%= musician_winner.vote_score / 10 %> votes
                </span>
              </div>
            </div>

            <%# Score badge %>
            <div class="winner-score-badge">
              <div class="score-value"><%= musician_winner.final_score %></div>
              <div class="score-label">POINTS</div>
            </div>
          </div>

          <div class="winner-buttons">
            <%= link_to musician_path(musician_winner.musician), class: "btn-profile musician" do %>
              View Profile
            <% end %>
            <%= link_to mainstage_path, class: "btn-leaderboard" do %>
              Leaderboard
            <% end %>
          </div>
        </div>
      <% end %>

      <%# Band Winner Card %>
      <% if has_band_winner %>
        <div class="winner-card">
          <div class="winner-card-label">
            <i class="fa-solid fa-users band"></i>
            <span class="band">BAND</span>
          </div>

          <div class="winner-card-inner">
            <%# Winner avatar %>
            <div class="winner-avatar band">
              <% if band_winner.band.banner.attached? %>
                <%= cl_image_tag(band_winner.band.banner.key) %>
              <% elsif band_winner.band.images.attached? %>
                <%= cl_image_tag(band_winner.band.images.first.key) %>
              <% else %>
                <div class="initials"><%= band_winner.band.name[0].upcase %></div>
              <% end %>
            </div>

            <%# Winner info %>
            <div class="winner-info">
              <%= link_to band_path(band_winner.band), class: "winner-name" do %>
                <%= band_winner.band.name %>
              <% end %>
              <div class="winner-week"><%= band_winner.week_label %></div>
              <div class="winner-stats">
                <span class="engagement">
                  <i class="fa-solid fa-bolt"></i> <%= band_winner.engagement_score %>
                </span>
                <span class="votes">
                  <i class="fa-solid fa-hand-pointer"></i> <%= band_winner.vote_score / 10 %> votes
                </span>
              </div>
            </div>

            <%# Score badge %>
            <div class="winner-score-badge">
              <div class="score-value"><%= band_winner.final_score %></div>
              <div class="score-label">POINTS</div>
            </div>
          </div>

          <div class="winner-buttons">
            <%= link_to band_path(band_winner.band), class: "btn-profile band" do %>
              View Profile
            <% end %>
            <%= link_to band_mainstage_path, class: "btn-leaderboard" do %>
              Leaderboard
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%# Show current contests in progress %>
    <div class="winner-cards-row">
      <%# Musician Contest Card %>
      <div class="winner-card">
        <div class="contest-label">
          <i class="fa-solid fa-fire musician"></i>
          <span class="musician">MUSICIAN MAINSTAGE</span>
        </div>

        <p class="contest-dates">
          <%= musician_contest.start_date.strftime('%b %d') %> - <%= musician_contest.end_date.strftime('%b %d') %> &bull;
          <% days_left = (musician_contest.end_date - Date.current).to_i %>
          <span class="days-left"><%= days_left %> <%= 'day'.pluralize(days_left) %> left</span>
        </p>

        <%= link_to mainstage_path, class: "btn-vote musician" do %>
          <i class="fa-solid fa-trophy"></i> Vote Now
        <% end %>
      </div>

      <%# Band Contest Card %>
      <div class="winner-card">
        <div class="contest-label">
          <i class="fa-solid fa-fire band"></i>
          <span class="band">BAND MAINSTAGE</span>
        </div>

        <p class="contest-dates">
          <%= band_contest.start_date.strftime('%b %d') %> - <%= band_contest.end_date.strftime('%b %d') %> &bull;
          <% days_left = (band_contest.end_date - Date.current).to_i %>
          <span class="days-left"><%= days_left %> <%= 'day'.pluralize(days_left) %> left</span>
        </p>

        <%= link_to band_mainstage_path, class: "btn-vote band" do %>
          <i class="fa-solid fa-trophy"></i> Vote Now
        <% end %>
      </div>
    </div>
  <% end %>
</div>
