<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%# LOGO %>
    <div class="d-flex align-items-center me-auto">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "Kokai2.png", class: "logo-to-spin", data: { controller: "spinning-logo" } %>
      <% end %>
      <%# USER STATUS %>
      <% if user_signed_in? %>
        <div class="ms-3 text-start d-none d-md-block">
          <p class="mb-0" style="color: #888; font-size: 0.8rem;">
            <i class="fa-solid fa-circle" style="color: #C8E938; font-size: 0.5rem; vertical-align: middle; margin-right: 6px;"></i>
            <span style="color: #aaa;"><%= current_user.username %></span>
            <span style="color: #555; margin-left: 4px;">(<%= current_user.user_type %>)</span>
          </p>
        </div>
      <% else %>
        <div class="ms-3 text-start d-none d-md-block">
          <p class="mb-0" style="color: #666; font-size: 0.8rem;">
            <i class="fa-solid fa-circle" style="color: #666; font-size: 0.5rem; vertical-align: middle; margin-right: 6px;"></i>
            Not signed in
          </p>
        </div>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%= render 'shared/language_switcher' %>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-primary text-white" href="#" id="searchDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-magnifying-glass"></i> Search
            </a>
            <ul class="dropdown-menu" aria-labelledby="searchDropdown">
              <li>
                <%= link_to musicians_path, class: "dropdown-item" do %>
                  <i class="fa-solid fa-guitar"></i> Musicians
                <% end %>
              </li>
              <li>
                <%= link_to bands_path, class: "dropdown-item" do %>
                  <i class="fa-solid fa-users"></i> Bands
                <% end %>
              </li>
              <li>
                <%= link_to venues_path, class: "dropdown-item" do %>
                  <i class="fa-solid fa-location-dot"></i> Venues
                <% end %>
              </li>
              <li>
                <%= link_to funded_gigs_path, class: "dropdown-item" do %>
                  <i class="fa-solid fa-hand-holding-heart"></i> Funded Shows
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <%= link_to posts_path, class: "nav-link btn btn-primary text-white" do %>
              <i class="fa-solid fa-bullhorn"></i> Feed
            <% end %>
          </li>
          <% if current_user.musician.present? %>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link btn btn-primary text-white dropdown-toggle" id="bandDashboardDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-gauge-high me-1"></i> Dashboard
              </a>
              <div class="dropdown-menu" aria-labelledby="bandDashboardDropdown">
                <h6 class="dropdown-header">Musician</h6>
                <%= link_to edit_musician_path(current_user.musician), class: "dropdown-item" do %>
                  <i class="fa-solid fa-sliders me-2"></i> View Musician Dash
                <% end %>
                <%= link_to musician_path(current_user.musician), class: "dropdown-item" do %>
                  <i class="fa-solid fa-user me-2"></i> View Musician Profile
                <% end %>
                <% if current_user.musician.bands.any? %>
                  <div class="dropdown-divider"></div>
                  <h6 class="dropdown-header">Band Dashboards</h6>
                  <% current_user.musician.bands.each do |band| %>
                    <%= link_to edit_band_path(band), class: "dropdown-item" do %>
                      <i class="fa-solid fa-users me-2"></i> <%= band.name %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </li>
          <% end %>
          <%# Mobile: These 3 items appear in a horizontal row %>
          <div class="navbar-mobile-icons-row">
            <li class="nav-item">
              <%= render 'shared/messages_notification' %>
            </li>
            <li class="nav-item">
              <%= render 'shared/notifications' %>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="navbar-avatar-link" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <% if current_user.musician&.avatar&.attached? %>
                  <%= cl_image_tag(current_user.musician.avatar.key, class: "avatar", alt: "dropdown menu") %>
                <% elsif current_user.musician.present? %>
                  <div class="navbar-avatar-initials">
                    <%= current_user.musician.name.split.map(&:first).join.upcase[0..1] %>
                  </div>
                <% else %>
                  <div class="navbar-avatar-initials">
                    <%= current_user.username[0..1].upcase %>
                  </div>
                <% end %>
              </a>
              <!-- Avatar drop down -->
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <% if current_user&.musician.present? %>
                  <%= link_to musician_path(current_user.musician), class: "dropdown-item" do %>
                    <i class="fa-solid fa-user me-1"></i> Profile
                  <% end %>
                  <%= link_to direct_messages_path, class: "dropdown-item" do %>
                    <i class="fa-solid fa-envelope me-1"></i> Messages
                  <% end %>
                  <%= link_to friendships_path, class: "dropdown-item" do %>
                    <i class="fa-solid fa-user-group me-1"></i> Friends
                  <% end %>
                  <%= link_to saved_path, class: "dropdown-item" do %>
                    <i class="fa-solid fa-bookmark me-1"></i> Saved
                  <% end %>
                  <h6 class="dropdown-header">Bands</h6>
                  <% if current_user.musician.bands.any? %>
                    <% current_user.musician.bands.each do |band| %>
                      <%= link_to band_path(band), class: "dropdown-item" do %>
                        <i class="fa-solid fa-users me-1"></i> <%= band.name %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <%= link_to new_band_path, class: "dropdown-item" do %>
                    <i class="fa-solid fa-plus me-1"></i> Create a band
                  <% end %>
                  <div class="dropdown-divider"></div>
                <% elsif current_user.user_type == 'venue' %>
                  <h6 class="dropdown-header">My Venues</h6>
                  <% current_user.venues.each do |venue| %>
                    <%= link_to edit_venue_path(venue), class: "dropdown-item" do %>
                      <i class="fa-solid fa-location-dot me-1"></i> <%= venue.name %>
                    <% end %>
                  <% end %>
                  <%= link_to new_venue_path, class: "dropdown-item" do %>
                    <i class="fa-solid fa-plus me-1"></i> Add Venue
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= link_to gig_applications_path, class: "dropdown-item" do %>
                    <i class="fa-solid fa-clipboard-list me-1"></i> Gig Applications
                  <% end %>
                  <%= link_to direct_messages_path, class: "dropdown-item" do %>
                    <i class="fa-solid fa-envelope me-1"></i> Messages
                  <% end %>
                  <div class="dropdown-divider"></div>
                <% elsif current_user&.fan.present? %>
                  <%= link_to edit_fan_path(current_user.fan), class: "dropdown-item" do %>
                    <i class="fa-solid fa-gauge-high me-1"></i> Dashboard
                  <% end %>
                  <%= link_to fan_path(current_user.fan), class: "dropdown-item" do %>
                    <i class="fa-solid fa-user me-1"></i> Profile
                  <% end %>
                  <%= link_to direct_messages_path, class: "dropdown-item" do %>
                    <i class="fa-solid fa-envelope me-1"></i> Messages
                  <% end %>
                  <%= link_to friendships_path, class: "dropdown-item" do %>
                    <i class="fa-solid fa-user-group me-1"></i> Friends
                  <% end %>
                  <%= link_to saved_fan_path(current_user.fan), class: "dropdown-item" do %>
                    <i class="fa-solid fa-bookmark me-1"></i> Saved
                  <% end %>
                  <%= link_to gigs_fan_path(current_user.fan), class: "dropdown-item" do %>
                    <i class="fa-solid fa-ticket me-1"></i> My Gigs
                  <% end %>
                  <div class="dropdown-divider"></div>
                <% else %>
                  <%= link_to new_musician_path, class: "dropdown-item" do %>
                    <i class="fa-solid fa-plus me-1"></i> Create Musician Profile
                  <% end %>
                  <div class="dropdown-divider"></div>
                <% end %>
                <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" do %>
                  <i class="fa-solid fa-right-from-bracket me-1"></i> Log out
                <% end %>
              </div>
            </li>
          </div>
          <%# End navbar-mobile-icons-row %>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "btn btn-primary text-dark" do %>
              <i class="fa-solid fa-right-to-bracket me-1"></i> Login
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
