<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%# LOGO %>
    <div class="d-flex align-items-center me-auto">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "kokai1.png" %>
      <% end %>
      <%# USER STATUS %>
      <% if user_signed_in? %>
        <div class="ms-3 text-start">
          <p class="mb-0" style="color: #f8f9fa;">Currently signed in as: <strong><%= current_user.username %></strong> (<strong><%= current_user.user_type %>)</strong></p>
        </div>
      <% else %>
        <div class="ms-3 text-start">
          <p class="mb-0" style="color: #f8f9fa;">You <strong>are not</strong> signed in</p>
        </div>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Musicians", musicians_path, class: "nav-link btn btn-primary text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Bands", bands_path, class: "nav-link btn btn-primary text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Venues", venues_path, class: "nav-link btn btn-primary text-white" %>
          </li>
          <li class="nav-item">
            <%= render 'shared/messages_notification' %>
          </li>
          <li class="nav-item">
            <%= render 'shared/notifications' %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
            </a>
            <!-- Avatar drop down -->
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if current_user&.musician.present? %>
                <%= link_to "Profile", musician_path(current_user.musician), class: "dropdown-item" %>
                <%= link_to "Messages", direct_messages_path, class: "dropdown-item" %>
                <% if current_user.musician.bands.any? %>
                  <h6 class="dropdown-header">Bands</h6>
                  <% current_user.musician.bands.each do |band| %>
                    <%= link_to "- #{band.name}", band_path(band), class: "dropdown-item" %>
                  <% end %>
                  <%= link_to "Create a band", new_band_path, class: "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                <% end %>
              <% else %>
                <%= link_to "Create Musician Profile", new_musician_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
              <% end %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-primary text-dark" %>
            <%# might need to add nav-link class later if kokai yellow is annoying %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
