<div class="container" data-controller="parallax" data-action="scroll@window->parallax#handleScroll">
  <div class="gradient">
    <div class="hero-text text-center text-white pt-5" data-parallax-target="bannerText">
      <h1 class="slogan m-4">From Bedroom to Breakthrough</h1>
      <p>Build Bands. Book Gigs. Fill Venues</p>
      <p>We've made it easier to connect to other musicians, bands, and venues.</p>
      <p >Discover talent, book shows, and grow your music career.</p>
    </div>
    <div class="hero-cards justify-content-center m-4">
      <div class="row justify-content-center">
        <div class="col-8 col-md-3 mb-3 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">For Musicians</h5>
              <p class="card-text">Define genres together.</p>
              <%= link_to "See Musicians", musicians_path, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
        <div class="col-8 col-md-3 mb-3 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">For Bands</h5>
              <p class="card-text">Find a spot in groups making waves.</p>
              <%= link_to "See Bands", bands_path, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
        <div class="col-8 col-md-3 mb-3 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">For Venues</h5>
              <p class="card-text">Browse and provide places to play.</p>
              <%= link_to "See Venues", venues_path, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousels text-center m-4">
      <div class="musicians-carousel row justify-content-center">
        <div class="musicians-carousel-heading text-center">
          <h2>New Faces</h2>
        </div>
        <% @new_musicians = Musician.last(3) %>
        <div class="row justify-content-center align-items-stretch">
          <% if @new_musicians.any? %>
            <% @new_musicians.each do |musician| %>
              <div class="col-8 col-md-3 m-2">
                <div class="musician-card position-relative">
                  <%= link_to musician_path(musician), class: "text-light text-decoration-none stretched-link", data: { turbo: false } do %>
                    <div class="musician-card-header">
                      <% if musician.media.attached? %>
                        <% first_file = musician.media.first %>
                        <% if first_file.content_type.start_with?("image") %>
                          <%= cl_image_tag(first_file.key, class: "musician-avatar") %>
                        <% end %>
                      <% else %>
                        <%= image_tag "musician_placeholder.jpg", class: "musician-avatar" %>
                      <% end %>
                      <div class="musician-card-name-wrapper">
                        <h4 class="musician-card-name"><%= musician.name %></h4>
                      </div>
                    </div>
                    <div class="musician-card-details">
                      <p><i class="fa-solid fa-location-dot"></i> <%= musician.location %></p>
                      <p><i class="fa-solid fa-guitar"></i> <%= musician.instrument %></p>
                      <p><i class="fa-solid fa-music"></i> <%= musician.styles %></p>
                      <p><i class="fa-solid fa-pen-to-square"></i> <%= musician.bio %></p>
                    </div>
                  <% end %>
                  <%= button_to "Message", create_or_show_direct_messages_path(recipient_id: musician.user_id), method: :post, class: "btn btn-primary", style: "background-color: #a4fe35ff;", data: { turbo: false } %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="venues-carousel row justify-content-center">
        <div class="venues-carousel-heading text-center">
          <h2>New Places</h2>
          <% @new_venues = Venue.last(3) %>
          <div class="row justify-content-center align-items-stretch">
            <% if @new_venues.any? %>
              <% @new_venues.each do |venue| %>
                <div class="col-8 col-md-3 m-2">
                  <div class="musician-card position-relative">
                    <%= link_to venue_path(venue), class: "text-light text-decoration-none stretched-link", data: { turbo: false } do %>
                      <div class="musician-card-header">
                        <div class="musician-card-name-wrapper">
                          <h4 class="musician-card-name"><%= venue.name %></h4>
                        </div>
                      </div>
                      <div class="musician-card-details">
                        <p><i class="fa-solid fa-location-dot"></i> <%= venue.address %></p>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
