<div class="container">
  <h1><%= t('venues.new.title') %></h1>
  <%= simple_form_for @venue do |f| %>
    <%= f.input :name, label: t('venues.new.venue_name') %>
    <%= f.input :address, label: t('venues.new.address') %>
    <%= f.input :city, label: t('venues.new.city') %>
    <%= f.input :capacity, label: t('venues.new.capacity') %>
    <%= f.input :description, label: t('venues.new.description') %>

    <div class="mb-3">
      <%= f.label :banner, t('venues.new.banner_image'), class: "form-label" %>
      <%= f.input :banner, as: :file, label: false, input_html: { accept: "image/*", class: "form-control" } %>
      <small class="text-muted"><%= t('venues.new.banner_recommended') %></small>
    </div>

    <div class="mb-3">
      <%= f.label :photos, t('venues.new.venue_photos'), class: "form-label" %>
      <%= f.input :photos, as: :file, label: false, input_html: { multiple: true, accept: "image/*", class: "form-control" } %>
      <small class="text-muted"><%= t('venues.new.photos_hint') %></small>
    </div>

    <%= f.submit t('venues.new.submit'), class: 'btn btn-primary' %>
  <% end %>
  <%= link_to t('venues.new.back_to_list'), venues_path  %>
</div>
