<div class="container">
  <p><%= @venue.name %></p>
  <li><%= "Address: #{@venue.address}" %></li>
  <li><%= "City: #{@venue.city}" %></li>
  <li><%= "Capacity: #{@venue.capacity}" %></li>
  <li><%= "Description: #{@venue.description}" %></li>
  <%= link_to "Edit this venue", edit_venue_path  %>
  <%= link_to venue_path(@venue), data: { turbo_method: :delete, turbo_confirm: "Delete #{@venue.name}?" } do %>
    <i class="fa-solid fa-delete-left"></i>
  <% end %>
  <%= link_to "Back to list", venues_path %>
  <%= link_to "Create a gig",  new_venue_gig_path(@venue) %>
  <div id="gigs">
    <h2>Gigs:</h2>
    <% @gigs.each do |gig| %>
      <p>
        <%= link_to "#{gig.name}", gig_path(gig) %>
        <li><%= "Date: #{gig.date}" %></li>
        <li><%= "Time: #{gig.start_time} - #{gig.end_time}" %></li>
      </p>
    <% end %>
  </div>
</div>
