<%= form_with model: [band, invitation], id: "new_band_invitation", class: "invite-form" do |f| %>
  <% if invitation.errors.any? %>
    <div class="invite-errors">
      <i class="fa-solid fa-circle-exclamation"></i>
      <span><%= pluralize(invitation.errors.count, "error") %> prevented this invitation:</span>
      <ul>
        <% invitation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="invite-input-group">
    <div class="invite-select-wrapper">
      <%= f.label :musician_id, class: "invite-label" do %>
        <i class="fa-solid fa-user-music"></i> Search Musician
      <% end %>
      <% available_musicians = Musician.where.not(id: band.musician_ids).where.not(id: band.band_invitations.pending.pluck(:musician_id)) %>
      <select name="band_invitation[musician_id]"
              id="band_invitation_musician_id"
              data-controller="tom-select"
              data-tom-select-placeholder-value="Search by name, instrument, or location...">
        <option value="">Select a musician...</option>
        <% available_musicians.each do |musician| %>
          <option value="<%= musician.id %>"><%= musician.name %> - <%= musician.instrument %><%= musician.location.present? ? " (#{musician.location})" : "" %></option>
        <% end %>
      </select>
    </div>
    <%= f.submit "Send Invite", class: "invite-submit-btn" %>
  </div>
<% end %>
