<div class="container">
  <div class="index-heading m-3 mt-5">
    <h1>Browse bands</h1>
    <p>Discover talented bands to connect with</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="d-flex">
          <div class="input-group dark-mode w-100">
            <%= text_field_tag :q, params[:q], class: "form-control", type: "search", placeholder: "Search for a band...", aria: { label: "Search" } %>
            <button class="btn btn-dark text-white px-4" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container my-4">
    <%= form_with url: bands_path, method: :get, local: true, html: { id: "band-filter-form" } do %>
      <!-- Search Input -->
      <!-- Genre Pills -->
      <div class="d-flex flex-row flex-wrap mb-3">
        <% Band::GENRES.each do |genre| %>
          <% checked = params[:genres]&.include?(genre) %>
          <%= label_tag "genre_#{genre}",
                        genre,
                        class: "btn btn-outline-dark me-2 mb-2 text-white #{'active' if checked}" do %>
            <%= check_box_tag "genres[]",
                              genre,
                              checked,
                              id: "genre_#{genre}",
                              class: "d-none",   # hide actual checkbox
                              onchange: "document.getElementById('band-filter-form').submit();" %>
            <span><%= genre %></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <!-- Display Bands -->
  <div class="container">
    <p><%= @bands.count > 1 ? "#{@bands.count} bands found" : "1 band found" %></p>
    <%# BAND CARD START %>
    <div class="row justify-content-center flex-wrap align-items-stretch">
      <% if @bands.any? %>
        <% @bands.each do |band| %>
          <div class="col-8 col-md-3 m-2 h-100 d-flex">
            <div class="band-card position-relative">
              <%= link_to band_path(band), class: "text-light text-decoration-none stretched-link", data: { turbo: false } do %>
                <div class="band-card-header">
                  <% if band.banner.attached? %>
                    <%= image_tag url_for(band.banner), alt: band.name, class: "img-fluid" %>
                  <% else %>
                    <%= image_tag "band_placeholder.jpg", alt: band.name, class: "img-fluid rounded-5" %>
                  <% end %>
                  <div class="band-card-name-wrapper">
                  </div>
                </div>
                <div class="band-card-details">
                  <p><i class="fa-solid fa-location-dot"></i> <%= band.location %></p>
                  <p class="band-card-name"><%= band.name %></p>
                  <% band.genre_list.each do |genre| %>
                    <p class="badge"><% genre %></p>
                  <% end %>
                  <p><i class="fa-solid fa-pen-to-square"></i> <%= band.description %></p>
                  <p><i class="fa-solid fa-user-group"></i> <%= band.musicians.count %></p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No bands found.</p>
      <% end %>
    </div>
  </div>
</div>
