<div class="container">
  <h1>New gig</h1>
  <%= simple_form_for [@venue, @gig] do |f| %>
    <%= f.input :name %>
    <%= f.input :date %>
    <%= f.input :description %>
    <%= f.input :genre,
                as: :select,
                required: true,
                collection: Gig::GENRES,
                label: 'Genre',
                prompt: 'Select a genre',
                input_html: { class: 'form-control form-select' } %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
