<div class="container">
  <h2><%= @gig.name %></h2>
  <li><%= "Date: #{@gig.date}" %></li>
  <li><%= "Time: #{@gig.start_time} - #{@gig.end_time}" %></li>
  <h2>Booked Bands</h2>
  <% if @gig.bookings.any? %>
    <% @gig.bookings.each do |booking| %>
      <p>
        <%= booking.band.name %>
      </p>
    <% end %>
  <% else %>
    <p>No bands booked yet.</p>
  <% end %>
  <% if policy(@gig).edit? %>
    <%= link_to "Edit Gig", edit_gig_path(@gig), class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back to venue", request.referer || root_path, class: "btn btn-secondary" %>
</div>
